<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Leave History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <p>Monthly Leave</p>
    <form [formGroup]='monthLeaveForm'>
      <ion-item>
        <ion-label style="color: gray">Select Month</ion-label>
        <ion-datetime displayFormat="MMMM YYYY" formControlName="month"
          (ionChange)=getMounthlyLeaveByUser(monthLeaveForm.value)>
        </ion-datetime>
      </ion-item>
    </form>
    <div *ngIf="isMonthLeave == 2">
      <div class="row header">
        <div class="col">Date</div>
        <div class="col">No. Of Days</div>
        <div class="col">Status</div>
      </div>
      <div class="row" *ngFor="let leave of monthlyLeaveOfUser">
        <div class="col text-center">{{leave.date.date}}/{{leave.date.month}}/{{leave.date.year}}</div>
        <div class="col text-center">{{getNoOfDays(leave.noOfDays)}}</div>
        <div class="col">{{leave.status}}</div>
      </div>
    </div>
    <div *ngIf="isMonthLeave == 1"><p class="text-center">There are No leaves</p></div>
  </div>
  <div>
    <span>Yearly Leave</span>
    <form [formGroup]='yearLeaveForm'>
      <ion-item>
        <ion-label style="color: gray">Select Year</ion-label>
        <ion-datetime displayFormat=" YYYY" formControlName="year"
          (ionChange)=getYearlyLeaveByUser(yearLeaveForm.value)>
        </ion-datetime>
      </ion-item>
    </form>
    <div *ngIf="isYearLeave == 2">
      <div class="row header">
        <div class="col">Date</div>
        <div class="col">No. Of Days</div>
        <div class="col">Status</div>
      </div>
      <div class="row" *ngFor="let leave of yearlyLeaveOfUser">
        <div class="col text-center">{{leave.date.date}}/{{leave.date.month}}/{{leave.date.year}}</div>
        <div class="col text-center">{{leave.noOfDays}}</div>
        <div class="col">{{leave.status}}</div>
      </div>
    </div>
    <div *ngIf="isYearLeave == 1"><p class="text-center">There are No leaves</p></div>
  </div>
</ion-content>