<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Leave Applications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="PendingLeaves.length">
    <ion-list *ngFor="let leave of PendingLeaves">
      <ion-item>
        <ion-label style="white-space: unset !important">{{leave.userId.name}}</ion-label>
        <ion-label (click)="presentAlert(leave)">{{getNoOfDays(leave.noOfDays)}}</ion-label>
        <ion-icon ios="ios-checkmark" md="md-checkmark" style="cursor: pointer" (click)="leaveApproval(leave._id,'Approved')"></ion-icon>
        <ion-icon ios="ios-close" md="md-close"  style="cursor: pointer" (click)="leaveApproval(leave._id,'Rejected')"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="pendingLeavesCount == 0">
    <p>There are no leaves...</p>
  </div>
</ion-content>