.profile_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  .profile_img ion-img{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
  }