


<!-- <ion-split-pane> -->
<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <div *ngIf="UserDetail">
        <ion-row>
          <ion-avatar class="profile_img" *ngIf="!UserDetail.profilePhoto">
            <ion-img src="../../assets/images/profile.jpg" (click)="closeMenu()" routerLink='/home/profile' style="cursor: pointer"></ion-img>
          </ion-avatar>
          <ion-avatar class="profile_img" *ngIf="UserDetail.profilePhoto">
            <ion-img *ngIf="UserDetail.profilePhoto" src="{{path}}{{UserDetail.profilePhoto}}" routerLink="/home/profile" (click)="closeMenu()" style="cursor: pointer"></ion-img>
          </ion-avatar>
          <ion-text style="margin:auto">{{UserDetail.name}}</ion-text>
        </ion-row>
      </div>
      <!-- <ion-title>Menu</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="currentUserRole == 'admin'">

      <ion-menu-toggle auto-hide="false" *ngFor="let p of adminpages">
        <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item (click)="logOut()" style="cursor: pointer">
        <ion-icon name="log-out" slot="start"></ion-icon>
        Logout
      </ion-item>
    </ion-list>
    <ion-list *ngIf="currentUserRole == 'Developer'">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of developerPages">
        <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item (click)="logOut()" style="cursor: pointer">
        <ion-icon name="log-out" slot="start"></ion-icon>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>

<!-- </ion-split-pane> -->